.total_hours {
    display: flex;
    justify-content: center;
    margin: 30px 0px 20px 0px;

}

.typeBG {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    border-radius: 9px;
    border: 1px;
    height: 23px;

}

.typeText {
    font-weight: 600;
}

.statusText {
    font-weight: 600;
}

.approveRejectBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%
}